@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --blue: #178fff;
    --blue-hover: #166fc3;
    --slate-50: #f4f7fa;
    --slate-50-hover: #e0e3e8;
    --slate-100: #edf0f6;
    --slate-200: #e6edf6;
    --slate-300: #cbd5e1;
    --slate-400: #94a3b8;
    --slate-400-placeholder: #9eaab7;
    --slate-500: #64748b;
    --slate-600: #475569;
    --slate-700: #334155;
    --slate-800: hsl(217, 33%, 18%);
    --slate-900: rgb(30, 41, 59);
    --slate-950: #020617;
}

#root {
    width: 100vw;
}

body {
    font-family: "Bebas Neue", sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--slate-800);
    background-color: var(--slate-100);
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block-start: 30px;
    padding-block-end: 50px;
}

.nav-bar h1 {
    font-size: 20px;
    font-weight: 800;
}

.app-container {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
}

.main-content-container {
    display: flex;
    justify-content: center;
    border: 2px solid yellow;
}

.main-content-container>* {
    flex: 1;
}

form,
.cv-border-radius-wrapper {
    border-radius: 10px;
    border: 1px solid lime;
}

form {
    width: 240px;
    background-color: white;
    padding: 30px;
}

.form-section,
.cv-section {
    display: flex;
}

.form-section {
    gap: 30px;
    flex-direction: column;
    align-items: center;
}

legend {
    font-size: 20px;
}

svg {
    height: 22px;
    width: 22px;
}

fieldset {
    border: none;
}

.legend-container svg {
    fill: var(--slate-800);
}

.legend-container {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.legend-content {
    display: flex;
    justify-content: space-evenly;
}

.legend-fullname-preview,
.legend-qualification-preview,
.legend-company-preview {
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: var(--slate-400);
}

.legend-fullname-preview {
    width: 100px;
    border: none;
}

.legend-qualification-preview {
    width: 63px;
}


/* Drop down menu */


/* Drop down menu */

.dropdown-menu {
    overflow: hidden;
    transition: max-height 0.3s;
    max-height: 0px;
}

.header-form .dropdown-menu.open {
    max-height: 500px;
}

.education-form .dropdown-menu.open {
    max-height: 600px;
}

textarea {
    margin: 0 1px;
    /* Gives space for focus outline */
    padding: 13px;
    border-radius: 10px;
    background-color: var(--slate-50);
    transition: background-color 0.3s ease;
}

input {
    margin: 0 1px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: var(--slate-50);
    transition: background-color 0.3s ease;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

button {
    border: 1px solid;
    border-radius: 6px;
    padding: 12px 20px;
    font-size: 12px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

button.delete-button,
button.clear-button {
    border-color: var(--slate-300);
}

button.save-button {
    border-color: var(--blue);
    color: white;
    background-color: var(--blue);
}